{% extends 'layout.html' %}
{% block layout %}
    <h1 class="mb-4 text-center">Questionnaire</h1>
    <form action="" method="POST" class="mx-auto" style="max-width: 500px;">
        <div class="mb-3">
            <label for="q1" class="form-label">Q1: How many times do you go on holiday abroad in a year?</label>
            <input type="text" class="form-control" id="q1" name="q1" required>
        </div>

        <div class="mb-3">
            <label for="q2" class="form-label">Q2: What is your usual mode of transport?</label>
            <input type="text" class="form-control" id="q2" name="q2" required>
        </div>

        <div class="mb-3">
            <label for="q3" class="form-label">Q3: How far do you travel to work?</label>
            <input type="text" class="form-control" id="q3" name="q3" required>
        </div>

        <div class="mb-3">
            <label for="q4" class="form-label">Q4: How many hours a day do you use technology?</label>
            <input type="text" class="form-control" id="q4" name="q4" required>
        </div>

        <div class="mb-3">
            <label for="q5" class="form-label">Q4: How many meals a week do you eat beef?</label>
            <input type="text" class="form-control" id="q5" name="q5" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
{% endblock %}
