{% extends 'layout.html' %}
{% block layout %}
    <h1 class="mb-4 text-center">Sign in</h1>
    <form action="" method="POST" class="mx-auto" style="max-width: 500px;">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
{% endblock %}
